/* Text style */
.text {
    animation-fill-mode: forwards;
    animation-duration: $textDur;
    animation-timing-function: ease-in-out;
    opacity: 0;
}
.textBlock_1 {
    position: absolute;
    top: 10px;
    left: 20%;
}
.text__title {
    font-size: 18px;
    fill: $textTitle;
    font-weight: 400;
    @include w1600 {
        font-size: 20px;
    }
}
.text__line {
    font-size: 14px;
    fill: $text1;
    font-weight: lighter;
    @include w1600 {
        font-size: 16px;
    }
}
.text__line_fill2 {
    fill: $text2;
}
.text__line_fill3 {
    fill: $text3;
}
.text__line_fill4 {
    fill: $text4;
}
.text__line_fill5 {
    fill: $text5;
}
/* Timeline graph style & animation*/
.timeline__svg {
    width: 100%;
    display: block;
    @include w1365 {
        display: none;
    }
}
.path {
    stroke-dasharray: 2300;
    stroke-dashoffset: 2300;
    animation-duration: $pathDur;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.lines {
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    animation-duration: $linesDur;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.circles {
    opacity: 0;
    animation-duration: $circlesDur;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

